{% extends 'layout-admin.html' %}

{% block body %}
    <div class="jumbtron text-center disp-row-cent">
        
        <img src="/static/img/urrutia.jpg" style="margin-top:20px;border-radius: 10px; border:3px solid rgb(102, 102, 250)" alt="urrutia-01" width="70"/>        
        <div class="disp-row-cent" style="width:350px; text-align: center; margin:auto; margin-top: 30px; padding: 20px; border:5px solid rgb(197, 196, 196)">            

            <div class="ppal" style="font-size:25px;"><a href="/reg_matrix" style="color:rgb(177, 101, 2);">Listado de Comidas</a></div>
            <div class="ppal" style="font-size:25px;"><a href="/reg_insert" style="color:rgb(177, 101, 2);">Agregar Comida</a></div>

        </div>       
  

        
    </div>
{% endblock %}

